<nav>
    <div class="site-title">
        <a href="/notes">
            <h1>Scorpion Sticky Notes App</h1>
        </a>
        <p>Once a CATian, Always a CATian</p>
    </div>
    <ul>
        <li><a href="/add">Add Note</a></li>
        <li><a href="/notes">All Notes</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>