<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

            <div class="about content">
                <h2>About Us</h2>
                <p> it's a sticky notes app which hepls you to save your notes for sing it later when you need it </p>
            </div>

            <%- include("./partials/footer.ejs") %>
    </body>

</html>